@media (min-width: 992px) {

    @font-face {
        font-family: 'Montserrat';
        src: url(./font/Montserrat-Bold.ttf);
      }

      body {
        font-family: Montserrat;
        font-size: 16px;
        color: black;
        overflow-x: hidden;
        /* margin-bottom: 300px; */
      }

    #header {
        width: 100%;
        height: auto;
        background-color: #8BC67C;
        color: white;
        border-radius: 0px 0px 50px 50px;
    }
 
    #header img {
        width: 200px;
        height: auto;
    }
    
    #header p {
        font-size: 14px;
    }

    #konten h6 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        color: #8BC67C;
    }

    .img-numbers {
        width: 30px;
        height: 30px;
        margin-right: 1rem;
    }

    .card-body {
        color: #3f573a;
        margin-left: 3rem ;
    }

      /* footer */
  #clossing {
    margin-top: 7rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #00A55D;
    width: 1366px;
    height: auto;
    color: #ffffff;
  }

  #clossing h3 {
    margin-top: 2rem;
    font-weight: bold;
  }

  #clossing img {
    width: 300px;
    height: auto;
  }
  
  #clossing ion-icon {
    height: 50px;
    width: 50px;
    margin-top: 2rem;
    margin-right: 0.1rem;
  }

}